.events{
    color: #f7542f;
    text-align: center;
    font-size:50px;
    
}

.card-body{
    background-color: rgba(32, 32, 32, 0.966);
    font-size: 20px;
    font-weight: 50px;
    color:white;

}
.card-title{
    color:#f7542f;

}
.lbox{
    height: 55%;
    width: 1.2%;
    background-color: #f7542f;
    left:0%;
    top:12%;
    position:absolute;
}
.rbox{
    height: 55%;
    width: 1.2%;
    background-color: #f7542f;
    right:0%;
    top:12%;
    position:absolute;
}
.l1box{
    height: 80%;
    width: 1.2%;
    background-color: #f7542f;
    left:0%;
    top:175%;
    position:absolute;
}
.r1box{
    height: 80%;
    width: 1.2%;
    background-color: #f7542f;
    right:0%;
    top:175%;
    position:absolute;
}


.card{
   
    box-shadow: 5px 5px 5px 5px rgba(247, 84, 47, 0.40);
    width:22rem;
    
 
}
.card:hover { 
   
        transform: scale(1.1); /* (150% zoom)*/
}

.imgs{
    position:relative;
    left:5%;
}


